*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(236,252,242,255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.aside {
    position: relative;
    float: left;
    width: 90px; /* ancho fijo */
    height: 100vh; /* ocupa toda la altura de la pantalla */
    background-color: rgba(1, 80, 77, 255);
}

.aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.aside ul li {
    margin: 20px 0;
}

li img {
    width: 40px;
    height: auto;
    position: relative;
    top: 65vh;
    left: -6px;
}
.aside_house img{ 
    width: 70px;
    height: 70px;
    padding: 50%;
    margin-bottom: 100%;
    position: absolute;
    top: -11px;
    left: -40px;
    right: 0;
    
}
.twiter{
    width: 67px;
}

/* El nav al lado derecho del aside */
.menu_nav {
    
    float: right;
    width: 91%; 
    padding: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
}
.ul aside{
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 18vh;
}

nav a {
    text-decoration: none;
    color: rgba(14, 87, 84, 255);
    font-size: 18px;
    font-weight: bold;
}
ul li  .telefono{
    color: rgba(31,169,117,255);
    font-size: 25px ;
    font-weight: bolder;
}
.telefono::before{
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(img/tel.png);
    background-size: contain;
    margin-right: 15px;
    vertical-align: middle;
      
}

/* Para que el contenido no flote alrededor del nav y aside */
main { 
    height: 78vh;
    width: 162vh;
    position: absolute;
    margin-top: 15vh;
    margin-left: 34vh;
    box-shadow: 1px -2px 40px rgba(107, 107, 107, 0.39) ;
}

main .derecha {
    width: 41vh;
    height: 38vh;
    padding: 20vh;
    margin: 0 auto; /* centra horizontalmente */
    position: relative;
    float: right;
    align-items: center;
    background-color:white;
}
.derecha h1{
    width: 50vh;
    text-align: center;
    margin-bottom: 60px;
    color:rgba(31,169,117,255);
    margin-top: -70px;
    font-size: 40px;

    
}
main .izquierda{
    width: 41vh;
    height: 38vh;
    padding: 20vh;
    margin: 0 auto; /* centra horizontalmente */
    position: relative;
    float: left;
    align-items: center;
    background-color: rgb(221, 255, 0);
}

.formulario {
    width: 65vh;
    padding: 50px;
    margin-left: -13vh;
    margin-top: -6vh;
}

/* Contenedor común de pares en fila */
.fila {
    width: 100%;
    margin-bottom: 20px;
}

/* Divs en fila (dos columnas) */
.fila > div {
    float: left;
    width: 47%;
    margin-right: 6%;
}

.fila > div:last-child {
    margin-right: 0;
}

/* Email y contacto: ocupan toda la fila */
.div-email,
.div-number {
    width: 100%;
    margin-bottom: 35px;
    float: none;
}
.fila div input{
    margin-bottom: 10px;
}

/* Labels */
.formulario label {
    display: block;
    color: rgba(158,160,160,255);
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Inputs */
.formulario input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    
}

/* Botón */
.formulario button {
    display: block;
    width: 18vh;
    height: 4.5vh;
    margin-top: 120px;
    font-weight: bold;
    padding: 8px;
    background-color: rgba(31,169,117,255);
    color: white;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
    

}

.formulario button:hover {
    background-color: rgba(19, 126, 92, 0.938);
}

.boton::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px ;
    background-image: url(img/play.png);
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
}
.izquierda{
    background-image: linear-gradient(45deg, rgba(5, 54, 83, 0.767) 0%,rgba(13, 92, 112, 0.555) 99%, rgba(16, 98, 146, 0.747) 100%), url(img/odontologojpg.jpg);
    background-size: contain;
}
.izquierda_button{
    display: block;
    width: 18vh;
    height: 4.5vh;
    margin-top: 120px;
    font-weight: bold;
    padding: 8px;
    background-color: rgba(19, 126, 92, 0.938);
    color: white;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
}
.izquierda_button2{
    display: block;
    width: 18vh;
    height: 4.5vh;
    margin-top: 120px;
    font-weight: bold;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px, solid;
    color: rgba(19, 126, 92, 0.938);
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
}
.izquierda_button2::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px ;
    border-radius: 50%;
    background-image: url(img/play.png);
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
}

.texto_izquierda{
    background-color: rgba(0, 255, 255, 0.377);
    height: 58vh;
    width: 81vh;
    margin-left: -20vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 60px;
}
.texto_izquierda h1{
    color: white;
    font-size: 45px;
    line-height: 1.2;
    margin-left: 9vh;

}
.texto_izquierda .title_estilo{
    color: rgba(19, 126, 92, 0.938);
    margin-bottom: 20px;
}
.texto_izquierda p{
    margin-left: 9vh;
    margin-right: 8vh;
    font-size: 20px;
    color: white;
}
.texto_izquierda button{
    margin-top: 4vh;
    margin-left: 9vh;
    margin-right: 1vh;
    display: inline;
}